body{
        padding: 0;
        margin: 0;
}

.nav_menu{
        width: 100%;
        height: 90px;
       
        
}
.nav_children{
        padding-left: 20px;
        padding-right: 20px;
        background-color: white;
        color: black;
        display: flex;
        align-items: center;
        justify-content: space-between;
}

#logo{
font-size: 30px;
font-weight: 700;
font-family: Verdana;
}

.nav_list{
        list-style: none;
        display: flex;
        gap: 10px;
        font-size: 20px;
        font-family: sans-serif;
}
.hero{
        width: 100%;
        position: relative;
        /* display: flex; */
}
.hero_image{
        width: 100%;
        position: relative;
}
#hero_inner_image{
        width: 100%;
}
.hero_text{
        position: absolute;
        bottom: 150px;
        right: 100px;
        /* width:50%; */
}
#hero_inner_h2{
        font-size: 80px;
        color: tomato;
        text-transform: uppercase;
}
#hero_inner_p{
        font-size: 20px;
        color: white;
        font-family: Courier;
        text-transform: uppercase;
        font-weight: 500;
        margin-top:-60px ;
        text-align: center;
}
.cloth{
        width: 100%;
}
.cloth_section{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
}
.cloth_div{
        width: 300px;
}
